body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Prevents scrollbars from appearing */
}

.background-image4 {
  width: 100%;
  height: 100%;
  background-image: url('../../images/Programmer1.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-overlay4 {
  background: rgba(13, 33, 8, 0.51);  /* Transparent blue */
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(13, 33, 8, 0.51);
  max-width: 600px;
  margin: 50px;
  margin-top: 200px;
  margin-left: 120px;
}

.glass-overlay4 h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.glass-overlay4 h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.glass-overlay4 .highlight {
  color: rgba(60, 175, 106, 1);
  font-family: monospace;
  font-size:  40px;/* Highlight color for "Writers" */
}

.glass-overlay4 p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.button-container4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.level-item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(13, 33, 8, 1);
  border-radius: 10px;
  padding: 10px; /* Reduce padding to lower the height */
  transition: background-color 0.3s;
  width: 100%; /* Revert to full width */
  max-width: 500px; /* Adjust the max-width to the original size */
  margin: 0 auto; /* Center align the boxes */
}

.level-button4 {
  background-color: rgba(13, 33, 8, 1);    
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 5px; /* Reduce margin to lower height */
  text-align: center;
}

.level-item4 p {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}

.level-item4:hover {
  background-color: rgba(60, 175, 106, 1) ;
}